.gameItemWrapper img {
  width: 172px;
}

.wrapper {
  display: flex;
  margin: 0 auto 40px;

  &.loading {
    margin-bottom: 0;
  }

  &.card {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
  }

  &.fullInfo {
    flex-direction: column;
    gap: 20px;
  }
}

@media all and (width >= 1776px) {
  .gameItemWrapper img {
    width: 224px;
  }

  .wrapper {
    &.card {
      width: 1465px;
    }
  }
}