@import "styles/variables";

.wrapper {
  border: 1px solid $color-grey2;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  width: 938px;
  margin: 0 auto;
}

.img {
  position: relative;
  display: flex;

  img {
    border-radius: 12px 0 0 12px;
    height: 240px;
  }
}

.content {
  padding: 20px 40px 15px;
}

.gameTitle {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 125px;
  grid-template-areas:
    "title btn"
    "categoryWrapper btn";
}

.title {
  grid-area: title;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.column {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.row {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark;
  display: flex;
  justify-content: space-between;

  > span:first-child {
    color: $color-grey;
    white-space: nowrap;
  }

  > span:not(.tag) {
    opacity: 0.8;
  }
}

.categoryWrapper {
  grid-area: categoryWrapper;
  display: flex;
  margin-top: 5px;
  color: $color-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  .category {
    padding: 5px 10px;
    margin-right: 5px;

    color: $color-blue;
    font-weight: 500;
    line-height: 14px;

    background-color: rgba(0, 153, 250, 0.1);
    border-radius: 12px;
  }
}

.copy {
  fill: $color-grey;
}

.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  font-weight: 400;
  margin-bottom: 5px;

  span:not(.tagMore) {
    white-space: nowrap;
    padding: 2px 10px;
    background-color: $color-grey2;
    border-radius: 40px;

    font-size: 12px;
    line-height: 14px;

    color: $color-grey;
  }

  .tagMore {
    font-size: 14px;
    line-height: 18px;

    color: $color-blue;
    text-decoration: underline;

    cursor: pointer;
  }
}

.popover {
  max-width: 194px;
  padding: 15px;
  margin-bottom: 0;
}

.moreBtn {
  height: 32px !important;
}

@media all and (min-width: 1776px) {
  .wrapper {
    width: 1442px;
  }
  .img img {
    height: 280px;
  }
  .content {
    padding: 25px 60px;
  }
  .column {
    width: 243px;

    &:last-child {
      width: 364px;
    }
  }
  .gameInfo {
    gap: 80px;
  }
  .gameTitle {
    margin-bottom: 25px;
  }
  .row {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}