@import "styles/variables";

.form {
  margin-top: 27px;
}

.rememberBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 20px;
}

.restoreLink {
  color: $color-blue;
}