@import 'styles/variables';

.wrapper {
  width: 171px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: $background-lightGrey;
  }
}

.content {
  display: flex;
  margin-top: 11px;

  .videoSlot {
    padding: 4px 8px;

    width: 53px;
    height: 12px;

    color: $color-blue;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;

    background-color: rgba(0, 153, 250, 0.1);
    border-radius: 12px;
  }

  .gameId {
    font-size: 12px;
    line-height: 17px;
    color: $color-grey;
    margin-left: 13px;

    display: flex;
    align-items: center;
  }
}

.title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
}

@media all and (min-width: 1776px) {
  .wrapper {
    width: 224px;
  }
}