@import "styles/variables";

.wrapper {
  margin-bottom: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    color: $color-dark;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

@media all and (width >= 1776px) {
  .content {
    width: 1441px;
  }
}