@import 'styles/variables';

.wrapper {
  width: 701px;
  background-repeat: no-repeat;
  color: $color-white;

  animation-name: loadBanner;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);

  .gradient {
    background: linear-gradient(90deg, rgba(9, 10, 11, 0.7) 0%, rgba(9, 10, 11, 0) 100%);
    border-radius: 12px 0 0 12px;
    padding: 47px 0 0 40px;
    height: 373px;
    width: 340px;
  }

  .banner {
    margin-bottom: 15px;
  }

  .content {
    display: flex;
    color: $color-white;
    font-size: 14px;

    .videoSlot {
      padding: 5px 10px;

      height: 14px;

      color: $color-blue;
      line-height: 14px;
      font-weight: 500;

      background-color: rgba(0, 153, 250, 0.3);
      border-radius: 12px;
    }
  }

  .description {
    width: 250px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .moreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    text-decoration: none;
    color: $color-white;

    background-color: $color-blue;
    border-radius: 12px;

    transition: background-color 100ms ease-in;

    &:hover {
      background-color: $color-darkBlue;
    }
  }
}

@keyframes loadBanner {
  0% { opacity: .4; }
  100% { opacity: 1; }
}

@media all and (min-width: 1776px) {
  .wrapper {
    width: 1078px;

    .gradient {
      padding-top: 84px;
      width: 590px;
      height: 411px;
    }

    .number {
      font-size: 16px;
      line-height: 20px;
    }

    .description {
      width: 328px;
      font-size: 16px;
      line-height: 20px;
    }

    .moreBtn {
      margin-top: 20px;
    }
  }
}