@import 'styles/variables';

.wrapper {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  img, .title {
    z-index: 1;
  }

  .title {
    font-size: 14px;
    line-height: 16px;
    color: $color-dark;
    text-align: left;
    padding-left: 17px;
  }

  .progress {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;

    .processActive, .processProgress {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
    }

    .processActive {
      background-color: $background-lightGrey;
    }

    .processProgress {
      background-color: $background-grey;
      animation: progress 7000ms linear;
    }
  }

  &.vertical {
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }

    .progress {
      z-index: 0;
    }
  }

  &.horizontal {
    .progress {
      z-index: 2;
      overflow: hidden;
      opacity: 0.3;

      .processProgress {
        background-color: $background-darkGrey;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &.active:hover {
      opacity: 1;
    }
  }

  &:hover {
    background-color: $background-lightGrey;
  }
}

@keyframes progress {
  0% { transform: translate3d(-100%,0,0); }
  100% { transform: translate3d(0,0,0); }
}

@media all and (min-width: 1776px) {
  .wrapper {
    margin-bottom: 10px;
  }
}