$fontFamily: 'Hind', sans-serif;

// Background
$background-white: #FFF;
$background-dark: #090A0B;
$background-lightGrey: #FAFAFA;
$background-grey: #F3F3F4;
$background-darkGrey: #888B8D;

// Colors
$color-black: #3E3232;
$color-white: #FFFFFF;
$color-grey: #888B8D;
$color-blue: #0099FA;
$color-dark: #090A0B;
$color-darkBlue: #0069FF;
$color-green: #8ACB00;