$fontFamily: 'Hind', sans-serif;

// Colors
$color-black: #3E3232;
$color-white: #FFF;
$color-dark: #090A0B;
$color-grey: #888B8D;
$color-grey2: #EBEBEC;
$color-darkGrey: #888B8D;
$color-lightGrey: #FAFAFA;
$color-lightGrey2: #F3F3F4;
$color-blue: #0099FA;
$color-darkBlue: #0069FF;
$color-green: #8ACB00;
$color-purple: #A33EE8;
$color-orange: #FF4321;
$color-pink: #F0338C;
$color-yellow: #FDB10E;
