$fontFamily: 'Hind', sans-serif;

// Colors
$color-black: #3E3232;
$color-white: #FFFFFF;
$color-dark: #090A0B;
$color-grey: #888B8D;
$color-darkGrey: #888B8D;
$color-lightGrey: #FAFAFA;
$color-blue: #0099FA;
$color-darkBlue: #0069FF;
$color-green: #8ACB00;
