@import "styles/variables";

.header {
  background-color: $color-lightGrey;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 30px 40px;
}

.gameItemWrapper img {
  width: 175px;
}

.content {
  display: flex;
  margin: 0 auto;
  padding: 40px 0;

  &.loading {
    padding-bottom: 0;
  }

  &.card {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 975px;
  }

  &.fullInfo {
    flex-direction: column;
    gap: 20px;
  }
}

@media all and (min-width: 1776px) {
  .gameItemWrapper img {
    width: 224px;
  }

  .content {
    &.card {
      width: 1465px;
    }
  }
}