@import 'styles/variables';

.wrapper {
  width: 302px;
  padding: 10px 0;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: $background-white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  }
}

.title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-dark;
}

.dateRelease {
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: $color-blue;
  text-transform: uppercase;
}

@media all and (min-width: 1776px) {
  .wrapper {
    width: 468px;
  }
}