@import 'styles/variables';

.title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-dark;
}

.wrapper {
  width: 302px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: $color-lightGrey;

    .title {
      text-decoration: underline;
    }
  }

  img {
    width: 302px;
    border-radius: 12px;
  }
}

.dateRelease {
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: $color-blue;
  text-transform: uppercase;
}

@media all and (width >= 1776px) {
  .wrapper {
    width: 468px;

    img {
      width: 468px;
    }
  }
}