@import 'styles/variables';

.wrapper {
  width: 175px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $color-lightGrey;

    .title {
      text-decoration: underline;
    }
  }
}

.imgWrapper {
  display: flex;
  position: relative;

  img {
    border-radius: 12px;
  }
}

.categoryWrapper {
  display: flex;
  margin-top: 11px;
  color: $color-grey;
  font-size: 14px;

  .category {
    padding: 5px 8px;

    color: $color-blue;
    line-height: 12px;
    font-weight: 500;

    background-color: rgba(0, 153, 250, 0.1);
    border-radius: 12px;
  }
}

.title {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
}

.copy {
  fill: $color-grey;
}

@media all and (min-width: 1776px) {
  .wrapper {
    width: 224px;
  }
}