@import 'styles/variables';

.tagWrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 5px;

  font-weight: 400;
  z-index: 1;
}

.tag {
  display: flex;
  align-items: center;
  color: $color-blue;
  font-size: 12px;
  line-height: 14px;
  height: 24px;

  background: rgba(0, 153, 250, 0.1);
  border-radius: 40px;
  padding: 0 10px;

  svg {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

.tagMore {
  color: $color-blue;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
}