@import "styles/variables";

.wrapper {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 15px 15px 15px 30px;
  color: $color-grey;
  justify-content: space-between;
  font-size: 14px;

  &:hover, &.active {
    border-left: 2px solid $color-blue;
    padding-left: 28px;
    color: $color-white;

    .arrow {
      border-color: $color-white;
    }
    .icon {
      fill: $color-white;

      path {
        fill: $color-white;
      }
    }
  }

  &.open {
    color: $color-blue;
    border: none;
    padding-left: 30px;

    .arrow {
      border-color: $color-blue;
    }
    .icon {
      fill: $color-blue;

      path {
        fill: $color-blue;
      }
    }
  }
}

.dropdownLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: rgba(0, 153, 250, 0.05);
  padding-left: 55px;
  height: 40px;
  color: $color-white;

  &:hover, &.activeSub {
    color: $color-blue;
    background: rgba(0, 153, 250, 0.1);
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow {
  border: solid $color-grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &.arrowUp {
    transform: rotate(-135deg);
  }
  &.arrowDown {
    transform: rotate(45deg);
  }
}